
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">
					Næste spillerunde
				</h4>
				<p class="card-text">
					23. oktober<br>kl. 21:30<br>Hangout starter 1/2 time før
				</p>
				<a href="#" class="btn btn-primary">Tilmeld</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		{{stats-results}}
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		{{stats-money}}
	</div>
</div>

{{outlet}}
