<div class="container">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="/">ReHaSo</a>
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				{{#link-to "index" class="nav-link"}}Home{{/link-to}}
			</li>
			<li class="nav-item">
				{{#link-to "calendar" class="nav-link"}}Calendar{{/link-to}}
			</li>
			<li class="nav-item">
				{{#link-to "documents" class="nav-link"}}Documents{{/link-to}}
			</li>
		</ul>
  		{{!-- <form class="form-inline navbar-form pull-right">
    		<input class="form-control" type="text" placeholder="Search">
    		<button class="btn btn-success-outline" type="submit">Search</button>
		</form> --}}
	</nav>

	{{liquid-outlet}}
</div>