

.bar-money-club {
	stroke: salmon;
}
.bar-money-prize {
	stroke: cyan;
}
.bar-money-reserved {
	stroke: lime;
}

.legend {
	&-list {
		list-style: none;
	}
	&-item {
		display: inline-block;

		&:before {
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
		}

		&--club {
			&:before {
				background-color: salmon;
			}
		}
		&--prize {
			&:before {
				background-color: cyan;
			}
		}
		&--reserved {
			&:before {
				background-color: lime;
			}
		}
	}
}