.card-header {
	.btn-toolbar {
		margin-right: -12px;
    	margin-top: -4px;
	}
}

.bar-money-club {
	stroke: salmon;
}
.bar-money-prize {
	stroke: cyan;
}
.bar-money-reserved {
	stroke: lime;
}

.legend {
	&-list {
		list-style: none;
		margin: 0;
	}
	&-item {
		display: inline-block;

		&-badge {
			display: inline-block;
			width: 15px;
			height: 15px;

			&--club {
				background-color: salmon;
			}
			&--prize {
				background-color: cyan;
			}
			&--reserved {
				background-color: lime;
			}
		}
	}
}