<div class="chart chart-results"></div>

<ul class="legend-list">
	<li class="legend-item legend-item--club">
		Klubpenge
	</li>
	<li class="legend-item legend-item--prize">
		Præmiepenge
	</li>
	<li class="legend-item legend-item--reserved">
		Reserveret
	</li>
</ul>